doctype html
html.no-js(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Robin Kuiper - Allround Developer
        meta(name='description' content='Personal website of Robin Kuiper, allround developer.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='js/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,700')
        link(rel='stylesheet' href='js/vendor/font-awesome-4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='js/vendor/slick/slick.css')
        link(rel='stylesheet' href='js/vendor/slick/slick-theme.css')
        link(rel='stylesheet' href='js/vendor/fancybox/source/jquery.fancybox.css')
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/main.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        #flash
            h3 Special Thanks
            p Cherissa, Dennis, Hakan, Jordy, Peter, Vahid
        #socialbar
            a(href='https://www.facebook.com/robin.kuiper' target='_blank')
                i.fa.fa-facebook
            a(href='https://twitter.com/RobinKuiper2009' target='_blank')
                i.fa.fa-twitter
        #header.hidden-xs
            h1
                | Robin Kuiper&nbsp;
                small Allround Developer
        button#mobileSidebarButton.visible-xs-block.visible-sm-block
            i.fa.fa-bars
        #mobileHeader.visible-xs-block
            h1 Robin Kuiper
        #sidebar.hidden-xs.hidden-sm
            ul
                li
                    a.scroll(href='#about') About Me
                li
                    a.scroll(href='#abilities') Abilities
                li
                    a.scroll(href='#project') Current Projects
                li
                    a.scroll(href='#contact') Contact
                li &nbsp;
                //li
                    a(href='/blog')
                        | Blog
                        small NL
        #mobileSidebar
            h1 Robin Kuiper
            .list-group
                a.scroll.list-group-item.active(href='#about') About Me
                a.scroll.list-group-item(href='#abilities') Abilities
                a.scroll.list-group-item(href='#project') Current Project
                a.scroll.list-group-item(href='#contact') Contact
                //a.list-group-item(href='/blog') Blog (nl)
        //#home.page
            .container-fluid
                h1 Robin Kuiper
                h2 Allround Developer
            #goDownButton
                a.scroll.fa.fa-arrow-down(href='#about')
        #about.page
            .content
                .container-fluid
                    .row
                        .col-md-5
                            h1 Who Am I?
                            p I am an allround developer, mostly focussed on web development. I love to make things work the way you want them to work.
                            p
                                | I've learned different languages over the years, and working mainly in&nbsp;
                                a(href='https://www.meteor.com/' target='_blank') Meteor
                                |  at the moment.
                        .col-md-3
                            img.img-responsive.img-circle.hidden-xs.hidden-sm(src='img/robin.jpg')
                        .col-md-4
                            h1 Details
                            ul
                                li
                                    strong Name:
                                    |  Robin Kuiper
                                li
                                    strong Age:
                                    |  28 years
                                li
                                    strong Location:
                                    |  Hoogezand, Netherlands
        #abilities.page
            .content
                .container-fluid
                    .row
                        .col-md-12
                            h1 Skills
                    .row
                        .col-md-6
                            ul
                                li
                                    span HTML5
                                    span.stars(data-stars='5')
                                li
                                    span CSS3
                                    span.stars(data-stars='5')
                                li
                                    span PHP
                                    span.stars(data-stars='5')
                                li
                                    span Bootstrap
                                    span.stars(data-stars='5')
                                li
                                    span Meteor.js
                                    span.stars(data-stars='4')
                                li
                                    span Laravel
                                    span.stars(data-stars='4')
                                li
                                    span CodeIgniter
                                    span.stars(data-stars='4')
                                li
                                    span jQuery
                                    span.stars(data-stars='4')
                                li
                                    span Javascript
                                    span.stars(data-stars='4')
                                li
                                    span Semantic-UI
                                    span.stars(data-stars='4')
                        .col-md-6
                            ul
                                li
                                    span JSON
                                    span.stars(data-stars='4')
                                li
                                    span MySQL
                                    span.stars(data-stars='3')
                                li
                                    span Java
                                    span.stars(data-stars='3')
                                li
                                    span Wordpress
                                    span.stars(data-stars='3')
                                li
                                    span LESS
                                    span.stars(data-stars='3')
                                li
                                    span Stylus
                                    span.stars(data-stars='3')
                                li
                                    span C#
                                    span.stars(data-stars='3')
                                li
                                    span Python
                                    span.stars(data-stars='2')
                                li
                                    span Ruby
                                    span.stars(data-stars='2')
                                li
                                    span SASS
                                    span.stars(data-stars='1')
                    .row.hidden-xs
                        .col-md-6
                            h1 Languages
                    .row.hidden-xs
                        .col-md-6
                            ul
                                li
                                    span Dutch (native)
                                    span.stars(data-stars='5')
                                li
                                    span English
                                    span.stars(data-stars='4')
        #project.page
            .content
                #carousel
                    div
                        h1 Dungeons&Dragons Spellbook
                        p An spellbook app for the populair game Dungeons&Dragons Pen&Paper. At the moment only working on browsers, but soon deployed to Android and Windows 10.
                        .container-fluid
                            .row
                                .col-md-5
                                    a.thumbnail.fancybox(href='img/screenshots/spellbookmain.png')
                                        img(src='img/screenshots/spellbookmain.png')
                                .col-md-7
                                    h4 Technologies
                                    ul
                                        li Meteor.js
                                        li Coffeescript
                                        li Jade
                                        li Stylus
                    div
                        h1 Streamer Platform
                        p Streamer Platform will be a tool where streamers can set up a lot of features for there broadcast.
                        .container-fluid
                            .row
                                .col-md-5
                                    a.thumbnail.fancybox(href='img/screenshots/streamerplatform.png')
                                        img(src='img/screenshots/streamerplatform.png')
                                    a.thumbnail.fancybox(href='img/screenshots/streamerdashboard.png')
                                        img(src='img/screenshots/streamerdashboard.png')
                                .col-md-7
                                    h4 Technologies
                                    ul
                                        li Meteor.js
                                        li Coffeescript
                                        li Jade
                                        li Stylus
        #contact.page
            .content
                h1 Contact
                .container-fluid
                    .row
                        .col-md-6
                            ul
                                li
                                    a(href='https://www.facebook.com/robin.kuiper' target='_blank')
                                        i.fa.fa-facebook
                                        | Facebook
                                li
                                    a(href='https://twitter.com/RobinKuiper2009' target='_blank')
                                        i.fa.fa-twitter
                                        | Twitter
                        .col-md-6
                            ul
                                li
                                    a(href='skype:robinkuiper.eu?userinfo')
                                        i.fa.fa-skype
                                        | RobinKuiper.eu
                                li
                                    a(href='mailto:robingjkuiper@gmail.com')
                                        i.fa.fa-at
                                        span.visible-xs-inline Mail Me
                                        span.hidden-xs robingjkuiper@gmail.com
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(type='text/javascript').
            window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>');
        script(src='js/vendor/jquery-ui.min.js')
        script(src='js/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js')
        script(src='js/vendor/fancybox/source/jquery.fancybox.pack.js')
        script(src='js/vendor/slick/slick.min.js')
        script(src='js/vendor/jquery.smooth-srcoll.js')
        script(src='js/plugins.js')
        script(src='js/main.js')
        script.
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                    function () {
                        (b[l].q = b[l].q || []).push(arguments)
                    });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = 'https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-69733203-1', 'auto');ga('send', 'pageview');
